<%= link_to "Upload New File", new_file_path%><br/>
<table class= "table_design">
 <tr>
     <th>File Name</th>
     <th>Size</th>
     <th>Delete</th>
     <th>Download</th>
</tr>
		<%@dirs.each do |dir|%>
<tr>
		<%if format_name(dir) == "."%>
			<td><%=link_to "..back", get_item_path(:t => "dir", :f => "/")%></td>
		<%else%>
			<td><%=link_to format_name(dir), get_item_path(:t => "dir", :f => format_name(dir))%></td>
 <td><%= dir.size %></td>
 <td><%= link_to "Delete",remove_dir_path(:dir => format_name(dir)) %></td>
		<%end%>		
		<%end%>
	
		<%@files.each do |file|%>
			<td><%=link_to format_name(file), get_item_path(:t => "file", :f => "#{@current}/#{format_name(file)}", :n => format_name(file)) %></td>
<td><%= file.size %></td>
<td><%= link_to "Delete",delete_file_path(:file=> format_name(file)) %></td>
<td><%= link_to "Download",get_item_path(:t => "file", :f => "#{@current}/#{format_name(file)}", :n => format_name(file)) %>
</td>

</tr>
		<%end%>
</table><br/>


